.genel{
    text-align: center;
    margin: 100px 50px 100px 50px;
    background-color: rgb(45, 148, 66);
    font-size: 40PX;

}
.section {
    color: rgb(233, 210, 36);

}
.margins {
    margin-top: 25px;

}
.input{
    font-size: 35px;
    border-radius: 15px;
    border: none;
    height: 80px;
    background-color: rgb(234, 248, 182);
    cursor: pointer;
   
}